@import url(event-type.css);

.about-event {
  & > .flex {
    flex-direction: column;
    align-items: stretch;

    & .flex:nth-child(2) {
      align-items: flex-start;
      & input[type="datetime-local"] {
        text-transform: uppercase;
        color: var(--text-heading);
      }
      
      & input[type="datetime-local"]:focus {
        border: 1px solid var(--brand-light);
      }
    
      & input[type="datetime-local"]::placeholder {
        color: var(--input-placeholder);
      }
    
      & input[type="datetime-local"]::-webkit-calendar-picker-indicator {
        display: none;
      }
    }

    .textarea-wrapper {
      textarea { height: 13.6rem; }
    }
  }
}