@import url(color-box.css);
@import url(theme-box.css);
@import url(toggle-switch.css);
@import url(cover-photo.css);

.customization {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;

  & .grid {
    display: grid;
    grid-template-columns: 17.6rem auto;
    align-items: center;

    .input-wrapper:nth-child(1) {
      & .flex {
        align-items: center;
        justify-content: flex-start;
        gap: 1.2rem;
      }
    }
  }
}
  
